th{
    color:red;
    font-family: 'Courier New';
    font-size:25px; 
    
}
td{
    color:red;
    font-family: 'Courier New';
    font-size:25px; 
}
p{
    font-family: Verdana;
    color:blueviolet;
    font-size: 25px;
    

}
